:root {
    --blue: hsl(220,100%,50%); //hsl(220,100%,50%);
    --blue1: hsl(220,100%,60%);
    --blue2: hsl(220,100%,70%);
    --blue3: hsl(220,100%,80%);
    --blue4: hsl(220,100%,90%);
    --gray0: hsl(220,005%,20%);
    --gray1: hsl(220,005%,40%);
    --gray2: hsl(220,005%,60%);
    --gray3: hsl(220,005%,80%);
    --gray4: hsl(220,005%,90%);
    --offwhite: hsl(220,005%,95%);

    // typographic
    --MONO: 0;
    --CASL: 0;
    --cap-spacing: 0.025em;
  }