---
layout: layouts/base.njk
title: URL CONFIG WIP
---
{# <h1>This is global data: {{siteData.name}}</h1> #}

<div id="use-recursive">
  <div id="customize-sidebar">
    <div id="controls">
    <h2>Customize</h2>

    <h3>Variable Axes</h3>

    <div id="wght-control" class="axis-control">
      <div class="axis__header">
          <details class="details-reset details-with-dialog mt-4">
          <summary class="casl"><h4>Weight</h4></summary>
          <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
            <div class="Box d-flex flex-column">
              <div class="Box-header header4">
                Weight <code>wght</code>
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  The Weight axis makes the font lighter or bolder. Its values range from <code>300–1000</code>.
                </p>
                <p>
                  It can be subset to <code>300–800</code> or <code>800–1000</code>.
                </p>
                <p>
                  Pin it on a 100-unit value (e.g. <code>300</code>, <code>400</code>, <code>500</code>, etc) for a single-weight font file.
                </p>
              </div>
              {# <div class="Box-footer">
                <button type="button" class="btn btn-block" data-close-dialog>Close</button>
              </div> #}
            </div>
          </div>
        </details>


        <div class="subset-type">
          <input type="radio" id="wght_subset__range"
        name="wght-subset-type" value="range" checked>
          <label for="wght_subset__range">Range</label>

          <input type="radio" id="wght_subset__pinned"
        name="wght-subset-type" value="pinned" >
          <label for="wght_subset__pinned">Pinned</label>
        </div>
      </div>

      <div class="subset-controls" data-subset-type="range">
        <div id="wght__range" class="range-controls">

          <div class="range-selector" data-wght-src="300" data-selected="true">300</div>
          <div class="range-gap" data-active="true" data-wght-range="300-800"></div>
          <div class="range-selector" data-wght-src="800" data-selected="true">800</div>
          <div class="range-gap" data-active="true" data-wght-range="800-1000"></div>
          <div class="range-selector" data-wght-src="1000" data-selected="true">1000</div>
        </div>

        <div id="wght--pinned" class="pinned-controls">
          <input type="range" id="wght--pinned__slider" name="wght-pinned" min="300" max="1000" value="400" step="5">
          <label id="wght--pinned__label" for="wght-pinned">400</label>
        </div>
      </div>
    </div>


    
    {# slnt AXIS CONTROLS #}
    <div id="slnt-control" class="axis-control">
      <div class="axis__header">
        {# HEADER WITH DETAILS - based on https://github.com/github/details-dialog-element #}
        <details class="details-reset details-with-dialog mt-4">
          <summary class="casl"><h4>Slant</h4></summary>
          <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
            <div class="Box d-flex flex-column">
              <div class="Box-header header4">
                Slant <code>slnt</code>
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  The Slant axis controls the slope of letters. Its values range from -15 to 0, which are appoximately equal to degrees. 0 is upright, while -15 is the most slanted.
                </p>
                <p>
                  Pin it at <code>0</code> for an upright-only font or <code>-15</code> for a slanted-only font.
                </p>
              </div>
              {# <div class="Box-footer">
                <button type="button" class="btn btn-block" data-close-dialog>Close</button>
              </div> #}
            </div>
          </details-dialog>
        </details>
        {# END -- HEADER WITH DETAILS #}
        <div class="subset-type">
          <input type="radio" id="slnt_subset__range"
        name="slnt-subset-type" value="range" checked>
          <label for="slnt_subset__range">Range</label>

          <input type="radio" id="slnt_subset__pinned"
        name="slnt-subset-type" value="pinned" >
          <label for="slnt_subset__pinned">Pinned</label>
        </div>
      </div>

      <div class="subset-controls" data-subset-type="range">
        <div id="slnt__range" class="range-controls basic-range">
          <div class="range-selector" data-wght-src="0" data-selected="true">-15</div>
          <div class="range-gap" data-active="true">
            {# <p>Single-segment range</p> #}
          </div>
          <div class="range-selector" data-wght-src="1" data-selected="true">0</div>
        </div>

        <div id="slnt--pinned" class="pinned-controls">
          <input type="range" id="slnt--pinned__slider" name="slnt-pinned" min="-15" max="0" value="0" step="1">
          <label id="slnt--pinned__label" for="wght-pinned">0</label>
        </div>
      </div>
    </div>
    
    {# ital AXIS CONTROLS #}
    <div id="ital-control" class="axis-control">
      <div class="axis__header">
        {# HEADER WITH DETAILS #}
        <details class="details-reset details-with-dialog mt-4">
          <summary class="casl"><h4>Italic</h4></summary>
          <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
            <div class="Box d-flex flex-column">
              <div class="Box-header header4">
                Italic <code>ital</code>
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  The Italic axis controls how "cursive" letters look. 0 is “Normal” (with a normal-looking lowercase), while 1 is “Italic” (with more-handwritten letterforms).
                </p>
                <p>
                  Pin it at <code>0</code> for a Normal-only font or <code>1</code> for an Italic-only font.
                </p>
              </div>
              {# <div class="Box-footer">
                <button type="button" class="btn btn-block" data-close-dialog>Close</button>
              </div> #}
            </div>
          </div>
        </details>
        {# END -- HEADER WITH DETAILS #}
        <div class="subset-type">
          <input type="radio" id="ital_subset__range"
        name="ital-subset-type" value="range" checked>
          <label for="ital_subset__range">Range</label>

          <input type="radio" id="ital_subset__pinned"
        name="ital-subset-type" value="pinned" >
          <label for="ital_subset__pinned">Pinned</label>
        </div>
      </div>

      <div class="subset-controls" data-subset-type="range">
        <div id="ital__range" class="range-controls basic-range">
          <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
          <div class="range-gap" data-active="true">
            {# <p>Single-segment range</p> #}
          </div>
          <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
        </div>

        <div id="ital--pinned" class="pinned-controls">
          <input type="range" id="ital--pinned__slider" name="ital-pinned" min="0" max="1" value="0" step="1">
          <label id="ital--pinned__label" for="wght-pinned">0</label>
        </div>
      </div>
    </div>

      {# MONO AXIS CONTROLS #}
    <div id="MONO-control" class="axis-control">
      <div class="axis__header">
        {# HEADER WITH DETAILS #}
        <details class="details-reset details-with-dialog mt-4">
          <summary class="casl"><h4>Monospace</h4></summary>
          <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
            <div class="Box d-flex flex-column">
              <div class="Box-header header4">
                Monospace <code>MONO</code>
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  The Monospace axis controls whether letters have a natural or fixed width. 0 is “Sans” or natural-width (for general text & UI), and 1 is “Mono” or fixed-width (for code & high-legibility text).
                </p>
                <p>
                  Pin it at <code>0</code> for a Sans-only font or <code>1</code> for an Mono-only font.
                </p>
              </div>
              {# <div class="Box-footer">
                <button type="button" class="btn btn-block" data-close-dialog>Close</button>
              </div> #}
            </div>
          </div>
        </details>
        {# END -- HEADER WITH DETAILS #}
        <div class="subset-type">
          <input type="radio" id="MONO_subset__range"
        name="MONO-subset-type" value="range" checked>
          <label for="MONO_subset__range">Range</label>

          <input type="radio" id="MONO_subset__pinned"
        name="MONO-subset-type" value="pinned" >
          <label for="MONO_subset__pinned">Pinned</label>
        </div>
      </div>

      <div class="subset-controls" data-subset-type="range">
        <div id="MONO__range" class="range-controls basic-range">
          <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
          <div class="range-gap" data-active="true">
            {# <p>Single-segment range</p> #}
          </div>
          <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
        </div>

        <div id="MONO--pinned" class="pinned-controls">
          <input type="range" id="MONO--pinned__slider" name="MONO-pinned" min="0" max="1" value="0" step="1">
          <label id="MONO--pinned__label" for="wght-pinned">0</label>
        </div>
      </div>
    </div>
    
    {# CASL AXIS CONTROLS #}
    <div id="CASL-control" class="axis-control">
      <div class="axis__header">
        {# HEADER WITH DETAILS #}
        <details class="details-reset details-with-dialog mt-4">
          <summary class="casl"><h4>Casual</h4></summary>
          <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
            <div class="Box d-flex flex-column">
              <div class="Box-header header4">
                Casual <code>CASL</code>
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  The Casual axis controls how “brushy” letters look. 0 is “Linear” or normal-looking, while 1 is “Casual” or brushy (based on single-stroke casual signpainting).
                </p>
                <p>
                  Pin it at <code>0</code> for a Linear-only font or <code>1</code> for an Casual-only font.
                </p>
              </div>
              {# <div class="Box-footer">
                <button type="button" class="btn btn-block" data-close-dialog>Close</button>
              </div> #}
            </div>
          </div>
        </details>
        {# END -- HEADER WITH DETAILS #}
        <div class="subset-type">
          <input type="radio" id="CASL_subset__range"
        name="CASL-subset-type" value="range" checked>
          <label for="CASL_subset__range">Range</label>

          <input type="radio" id="CASL_subset__pinned"
        name="CASL-subset-type" value="pinned" >
          <label for="CASL_subset__pinned">Pinned</label>
        </div>
      </div>

      <div class="subset-controls" data-subset-type="range">
        <div id="CASL__range" class="range-controls basic-range">
          <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
          <div class="range-gap" data-active="true">
            {# <p>Single-segment range</p> #}
          </div>
          <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
        </div>

        <div id="CASL--pinned" class="pinned-controls">
          <input type="range" id="CASL--pinned__slider" name="CASL-pinned" min="0" max="1" value="0" step="1">
          <label id="CASL--pinned__label" for="wght-pinned">0</label>
        </div>
      </div>
    </div>
    {# <h3>Languages</h3>
    <p>Work in progress</p> #}
    
    </div>

    <div id="embed">
      <h2>Embed</h2>
      <div class="code">
        <code id="api-call"></code>
      </div>
      <p>To embed your selected fonts into a webpage, copy the above code into your CSS document.</p>
    </div>

  </div>

  <div id="preview">
    <h2>
      Preview
    </h2>
    <p>Work in progress</p>
  </div>
</div>
</div>

