---
layout: layouts/base.njk
title: URL CONFIG WIP
---
{# <h1>This is global data: {{siteData.name}}</h1> #}

<div id="controls">

  <h2>Customize</h2>

  <h3>Variable Axes</h3>

  <div id="wght-control" class="axis-control">
    <div class="axis__header">
        <details class="details-reset details-with-dialog mt-4">
        <summary class="mono casl"><h4>wght</h4></summary>
        <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
          <div class="Box d-flex flex-column">
            <div class="Box-header header4">
              Weight
            </div>
            <div class="Box-body overflow-auto">
              <p>
                The Weight axis controls the general thickness of letters. Its values range from 300–1000.
              </p>
              <p>
                It has three source locations, so it can be subset to just 300–800 or 800–1000.
              </p>
              <p>
                Pin it on a 100-unit value (e.g. 300, 400, 500, etc) for a smaller but less-flexible font file.
              </p>
            </div>
            {# <div class="Box-footer">
              <button type="button" class="btn btn-block" data-close-dialog>Close</button>
            </div> #}
          </div>
        </div>
      </details>


      <div class="subset-type">
        <input type="radio" id="wght_subset__range"
       name="wght-subset-type" value="range" checked>
        <label for="wght_subset__range">Range</label>

        <input type="radio" id="wght_subset__pinned"
       name="wght-subset-type" value="pinned" >
        <label for="wght_subset__pinned">Pinned</label>
      </div>
    </div>

    <div class="subset-controls" data-subset-type="range">
      <div id="wght__range" class="range-controls">

        <div class="range-selector" data-wght-src="300" data-selected="true">300</div>
        <div class="range-gap" data-active="true" data-wght-range="300-800"></div>
        <div class="range-selector" data-wght-src="800" data-selected="true">800</div>
        <div class="range-gap" data-active="true" data-wght-range="800-1000"></div>
        <div class="range-selector" data-wght-src="1000" data-selected="true">1000</div>
      </div>

      <div id="wght--pinned" class="pinned-controls">
        <input type="range" id="wght--pinned__slider" name="wght-pinned" min="300" max="1000" value="400" step="5">
        <label id="wght--pinned__label" for="wght-pinned">400</label>
      </div>
    </div>
  </div>


  
  {# slnt AXIS CONTROLS #}
  <div id="slnt-control" class="axis-control">
    <div class="axis__header">
      {# HEADER WITH DETAILS #}
      <details class="details-reset details-with-dialog mt-4">
        <summary class="mono casl"><h4>slnt</h4></summary>
        <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
          <div class="Box d-flex flex-column">
            <div class="Box-header header4">
              Slant
            </div>
            <div class="Box-body overflow-auto">
               <p>
                The Slant axis controls the slope of letters. Its values range from -15 to 0, which are appoximately equal to degrees. 0 is upright, while -15 being the most clockwise-slanting.
              </p>
              <p>
                It has two source locations, so its range cannot be subset.
              </p>
              <p>
                Pin it at 0 or -15 for a smaller but less-flexible font file.
              </p>
            </div>
            {# <div class="Box-footer">
              <button type="button" class="btn btn-block" data-close-dialog>Close</button>
            </div> #}
          </div>
        </details-dialog>
      </details>
      {# END -- HEADER WITH DETAILS #}
      <div class="subset-type">
        <input type="radio" id="slnt_subset__range"
       name="slnt-subset-type" value="range" checked>
        <label for="slnt_subset__range">Range</label>

        <input type="radio" id="slnt_subset__pinned"
       name="slnt-subset-type" value="pinned" >
        <label for="slnt_subset__pinned">Pinned</label>
      </div>
    </div>

    <div class="subset-controls" data-subset-type="range">
      <div id="slnt__range" class="range-controls basic-range">
        <div class="range-selector" data-wght-src="0" data-selected="true">-15</div>
        <div class="range-gap" data-active="true">
          <p>(Single-segment range)</p>
        </div>
        <div class="range-selector" data-wght-src="1" data-selected="true">0</div>
      </div>

      <div id="slnt--pinned" class="pinned-controls">
        <input type="range" id="slnt--pinned__slider" name="slnt-pinned" min="-15" max="0" value="0" step="1">
        <label id="slnt--pinned__label" for="wght-pinned">0</label>
      </div>
    </div>
  </div>
  
  {# ital AXIS CONTROLS #}
  <div id="ital-control" class="axis-control">
    <div class="axis__header">
      {# HEADER WITH DETAILS #}
      <details class="details-reset details-with-dialog mt-4">
        <summary class="mono casl"><h4>ital</h4></summary>
        <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
          <div class="Box d-flex flex-column">
            <div class="Box-header header4">
              Italic
            </div>
            <div class="Box-body overflow-auto">
              <p>
                The Italic axis controls how "cursive" letters look. 0 is roman (with a normal-looking lowercase), while 1 is italic (with more-handwritten letterforms).
              </p>
              <p>
                It has two source locations, so its range cannot be subset.
              </p>
              <p>
                Pin it at 0 or 1 for a smaller but less-flexible font file.
              </p>
            </div>
            {# <div class="Box-footer">
              <button type="button" class="btn btn-block" data-close-dialog>Close</button>
            </div> #}
          </div>
        </div>
      </details>
      {# END -- HEADER WITH DETAILS #}
      <div class="subset-type">
        <input type="radio" id="ital_subset__range"
       name="ital-subset-type" value="range" checked>
        <label for="ital_subset__range">Range</label>

        <input type="radio" id="ital_subset__pinned"
       name="ital-subset-type" value="pinned" >
        <label for="ital_subset__pinned">Pinned</label>
      </div>
    </div>

    <div class="subset-controls" data-subset-type="range">
      <div id="ital__range" class="range-controls basic-range">
        <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
        <div class="range-gap" data-active="true">
          <p>(Single-segment range)</p>
        </div>
        <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
      </div>

      <div id="ital--pinned" class="pinned-controls">
        <input type="range" id="ital--pinned__slider" name="ital-pinned" min="0" max="1" value="0" step="1">
        <label id="ital--pinned__label" for="wght-pinned">0</label>
      </div>
    </div>
  </div>

    {# MONO AXIS CONTROLS #}
  <div id="MONO-control" class="axis-control">
    <div class="axis__header">
      {# HEADER WITH DETAILS #}
      <details class="details-reset details-with-dialog mt-4">
        <summary class="mono casl"><h4>MONO</h4></summary>
        <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
          <div class="Box d-flex flex-column">
            <div class="Box-header header4">
              Monospace
            </div>
            <div class="Box-body overflow-auto">
              <p>
                The Monospace axis controls whether letters have a natural or fixed width. 0 is "Sans" or natural-width (for general text & UI), and 1 is "Mono" or fixed-width (for code & extra-legible text).
              </p>
              <p>
                It has two source locations, so its range cannot be subset.
              </p>
              <p>
                Pin it at 0 or 1 for a smaller but less-flexible font file.
              </p>
            </div>
            {# <div class="Box-footer">
              <button type="button" class="btn btn-block" data-close-dialog>Close</button>
            </div> #}
          </div>
        </div>
      </details>
      {# END -- HEADER WITH DETAILS #}
      <div class="subset-type">
        <input type="radio" id="MONO_subset__range"
       name="MONO-subset-type" value="range" checked>
        <label for="MONO_subset__range">Range</label>

        <input type="radio" id="MONO_subset__pinned"
       name="MONO-subset-type" value="pinned" >
        <label for="MONO_subset__pinned">Pinned</label>
      </div>
    </div>

    <div class="subset-controls" data-subset-type="range">
      <div id="MONO__range" class="range-controls basic-range">
        <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
        <div class="range-gap" data-active="true">
          <p>(Single-segment range)</p>
        </div>
        <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
      </div>

      <div id="MONO--pinned" class="pinned-controls">
        <input type="range" id="MONO--pinned__slider" name="MONO-pinned" min="0" max="1" value="0" step="1">
        <label id="MONO--pinned__label" for="wght-pinned">0</label>
      </div>
    </div>
  </div>
  
  {# CASL AXIS CONTROLS #}
  <div id="CASL-control" class="axis-control">
    <div class="axis__header">
      {# HEADER WITH DETAILS #}
      <details class="details-reset details-with-dialog mt-4">
        <summary class="mono casl"><h4>CASL</h4></summary>
        <div class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
          <div class="Box d-flex flex-column">
            <div class="Box-header header4">
              Casual
            </div>
            <div class="Box-body overflow-auto">
              <p>
                The Casual axis controls how "brushy" letters look. 0 is "Linear" or normal-looking, while 1 is "Casual" or brushy (based on single-stroke casual signpainting).
              </p>
              <p>
                It has two source locations, so its range cannot be subset.
              </p>
              <p>
                Pin it at 0 or 1 for a smaller but less-flexible font file.
              </p>
            </div>
            {# <div class="Box-footer">
              <button type="button" class="btn btn-block" data-close-dialog>Close</button>
            </div> #}
          </div>
        </div>
      </details>
      {# END -- HEADER WITH DETAILS #}
      <div class="subset-type">
        <input type="radio" id="CASL_subset__range"
       name="CASL-subset-type" value="range" checked>
        <label for="CASL_subset__range">Range</label>

        <input type="radio" id="CASL_subset__pinned"
       name="CASL-subset-type" value="pinned" >
        <label for="CASL_subset__pinned">Pinned</label>
      </div>
    </div>

    <div class="subset-controls" data-subset-type="range">
      <div id="CASL__range" class="range-controls basic-range">
        <div class="range-selector" data-wght-src="0" data-selected="true">0</div>
        <div class="range-gap" data-active="true">
          <p>(Single-segment range)</p>
        </div>
        <div class="range-selector" data-wght-src="1" data-selected="true">1</div>
      </div>

      <div id="CASL--pinned" class="pinned-controls">
        <input type="range" id="CASL--pinned__slider" name="CASL-pinned" min="0" max="1" value="0" step="1">
        <label id="CASL--pinned__label" for="wght-pinned">0</label>
      </div>
    </div>
  </div>

</div>

<!-- <h2>Languages</h2> -->

</div>

<div id="preview">
<h2>Embed</h2>
<div class="code">
  <code id="api-call"></code>
</div>
<p>To embed your selected fonts into a webpage, copy the above code into your CSS document.</p>
</div>

<p>(Work in Progress)</p>